<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://kit.fontawesome.com/ba2b8f3092.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
        <script src="{{ url_for('static', filename= 'btn-auto.js')}}" defer></script>
        <title>ECOVIBE</title>
    </head>
<body>
    <section class="aviso">
        <div class="aten">
            <i class="fa-solid fa-circle-info"></i>
            <p>Somos uma empresa fictícia!</p>
            <p>Gerada para o desenvolvimento e aplicação de habilidades geradas durante o curso técnico em administração integrado ao ensino médio
            portanto não realizamos vendas ou serviços, todos as informações entregues não são realistas</p>
            <p>Agredecemos sua visita ao ECOVIBE</p>
        </div>
        <div class="voltar">
            <button>
                <a href="/home"><i class="fa-solid fa-right-from-bracket"></i>
                </a>
        </button>
        </div>
    </section>
</body>
</html>